name: Rust
on: [push, pull_request]
env:
  CARGO_TERM_COLOR: always
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-24.04
            install: sudo apt update && sudo apt install -y libgtk-4-bin libgtk-4-common libgtk-4-dev libgstreamer1.0-dev libgstreamer-plugins-base1.0-dev gstreamer1.0-plugins-good gstreamer1.0-fdkaac libdiscid-dev libcdio-dev libiso9660-dev libudf-dev
            artifact: ripperx4-linux-intel
          - os: ubuntu-24.04-arm
            install: sudo apt update && sudo apt install -y libgtk-4-bin libgtk-4-common libgtk-4-dev libgstreamer1.0-dev libgstreamer-plugins-base1.0-dev gstreamer1.0-plugins-good gstreamer1.0-fdkaac libdiscid-dev libcdio-dev libiso9660-dev libudf-dev
            artifact: ripperx4-linux-arm64
          - os: macos-latest
            install: brew install gtk4 gstreamer libdiscid libcdio libcdio-paranoia
            artifact: ripperx4-macos-arm64
          - os: macos-15-intel
            install: brew install gtk4 gstreamer libdiscid libcdio libcdio-paranoia
            artifact: ripperx4-macos-intel
    steps:
      - uses: actions/checkout@v6
      - name: Install Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: clippy, rustfmt
      - name: Set up Rust Cache
        uses: Swatinem/rust-cache@v2
      - name: Install glib/gtk dev
        run: ${{ matrix.install }}
      - name: check cargo fmt
        run: cargo fmt --all -- --check
      - name: check clippy
        run: cargo clippy --all-targets --all-features -- -D warnings -W clippy::pedantic
      - name: Run tests
        run: cargo test
      - name: Build
        run: cargo build --release
      - uses: actions/upload-artifact@v6
        with:
          name: ${{ matrix.artifact }}
          path: target/release/ripperx4
